.image{
    position: absolute;
    top: 5vh;
    left: 3vw;
    border-radius: 50%;
    }
    .video{
    position: absolute;
    left: 3vw;
    bottom: 4vw;
    }
    .desc{
    position: absolute;
    margin-left: 12cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-right: 1cm;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    }
    .posts{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #f1f1f1;
    }