body {
  margin:0;
  padding: 0;
  border: 0;
}
@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}
.jumbotron{
  background-color: #777777;
  margin: 10px auto;
  padding: 75px;
  width: 100%;
  height: 50%;
}
.jumbotron h1
{
  color: #fafafa;
  font-size: 200%;
}
h3{
  font-size: 75px
}
.jumbotron p{
  font-size: 100%;
  color: #fafafa;
}

div p{
text-align: center;
}

img
{
  width: 125px;
  height: 125px;
  display: block;
}
h3{
  font-size: 20px;
  color: #3c3b3b;
}
.media{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.media, .content{

}
.content h2{
  float: left;
  padding: 0;
  text-align: left;
  color: #777777;
  font-size: 25px;
}

.jumbotron  img{
  padding: 0;
  height: 200px;
  width: 300px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box div{

}